# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/

# Pyenv
.python-version

# Environment variables
.env
*.env

# DVC (track .dvc files but not the cache)
/data/raw/*
/data/processed/*
/models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/terraform.tfvars

# macOS
.DS_Store

# VS Code
.vscode/

# Project Design
project_design/

# MAC
.DS_Store